.content {
  max-width: 1435px;
  margin: 0 auto;
  padding: 67px 0 65px;
}

.contactInfo {
  display: flex;
  gap: 111px;
  margin-top: 45px;
}

.contactInfo a {
  font-size: 1.5rem;
}

.contactInfo p a {
  color: var(--color__text-main);
}

.contactInfo div:last-of-type p a {
  white-space: nowrap;
}

.mobile {
  display: none;
}

@media screen and (max-width: 680px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }


  .content {
    padding: 22px 0 0;
  }

  .content > h2 {
    font-size: 29px;
    line-height: 40px;
  }

  .contactInfo {
    margin-top: 29px;
    column-gap: 8vw;
  }

  .contactInfo a {
    font-size: 1rem;
  }

  .contactInfo > p > a {
    font-size: 1rem;
  }

  .googleMapWrapper {
    aspect-ratio: 1 / 1;
    margin-top: 35px;
  }
}
