.header > div {
  position: relative;
  aspect-ratio: 1843 / 613;
  margin-top: 62px;
}

.header > div > img {
  border-radius: 30px;
  object-fit: cover;
  object-position: 100% 76%;
}

.content {
  margin-top: 81px;
}

.innerWrapper {
  max-width: 1355px;
  margin: 0 auto;
  padding: 39px 0 81px;
}

.innerWrapper:last-child {
  padding-top: 114.5px;
  padding-bottom: 2.25rem;
}

.innerWrapper > p {
  font-size: 1.5rem;
  line-height: 2rem;
  color: var(--color__text-main);
  font-family: var(--font-mont-book);
}

.innerWrapper > p:not(:last-child) {
  margin-bottom: 2rem;
}

.ctaAnimated {
  padding: 26px 0;
  background-color: #f0dd3d;
  margin: 0 -38px;
  white-space: nowrap;
  overflow: hidden;
  display: flex;
}

.ctaAnimated h2 {
  color: #2b2b2b;
  animation: loopText 5s infinite linear;
  padding-right: 12px;
}

@keyframes loopText {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@media screen and (max-width: 680px) {
  .header > div {
    aspect-ratio: 1;
    margin-top: 35px;
  }

  .header > div > img {
    object-position: center;
  }

  .content {
    margin-top: 2rem;
  }

  .innerWrapper {
    padding: 27px 0 30px;
  }

  .innerWrapper > p {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .innerWrapper > p:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  .ctaAnimated {
    padding: 13px 0 12px;
    margin: 0 -17px;
  }

  .ctaAnimated h2 {
    font-size: 26px;
    line-height: 36px;
  }

  .innerWrapper:last-child {
    padding-top: 35px;
    padding-bottom: 0;
  }
}
