.article {
  overflow: hidden;
}

.article p {
  color: rgb(255 255 255 / 66%);
  font-size: 1.5rem;
  line-height: 2rem;
  color: var(--color__text-main);
  font-family: var(--font-mont-book);
}

.article.active {
  opacity: 1;
}

.article:not(:nth-of-type(2)) {
  border-top: 1px solid var(--color_main_contrast);
  border-bottom: 1px solid var(--color_main_contrast);
}

.article .accordionBottom {
  opacity: 0;
  visibility: hidden;
  padding: 0;
  transition: all 0.5s ease;
  height: auto;
  max-height: 0;
}

.article.active .accordionBottom {
  opacity: 1;
  visibility: visible;
  max-height: 150px;
  padding-bottom: 45px;
}

.accordionTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 0;
}

.accordionButton {
  color: #8eb8a3;
  border: 3px solid #8eb8a3;
  border-radius: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px 74px 4px 37px;
  width: 290px;
  font-size: 30px;
  line-height: 40px;
  font-weight: 400;
  background: transparent;
  position: relative;
  cursor: pointer;
}

[data-theme='light'] .accordionButton {
  color: var(--color__text-main);
  border-color: var(--color_main_contrast);
}

.accordionButton::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 28px;
  background-repeat: no-repeat;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMy4xMzEiIGhlaWdodD0iMTMuMDY2IiB2aWV3Qm94PSIwIDAgMjMuMTMxIDEzLjA2NiI+CiAgPHBhdGggaWQ9IlBhdGhfMTEiIGRhdGEtbmFtZT0iUGF0aCAxMSIgZD0iTTAsMCw5LjQ0NCw5LjQ0NCwwLDE4Ljg4OCIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMjEuMDEgMi4xMjEpIHJvdGF0ZSg5MCkiIGZpbGw9Im5vbmUiIHN0cm9rZT0iIzhlYjhhMyIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBzdHJva2Utd2lkdGg9IjMiLz4KPC9zdmc+Cg==');
  background-size: cover;
  width: 23px;
  height: 13px;
  transform: translateY(-50%);
  transition: transform 0.3s ease;
}

[data-theme='light'] .accordionButton::after {
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMy4xMzEiIGhlaWdodD0iMTMuMDY2IiB2aWV3Qm94PSIwIDAgMjMuMTMxIDEzLjA2NiI+CiAgPHBhdGggaWQ9IlBhdGhfMTEiIGRhdGEtbmFtZT0iUGF0aCAxMSIgZD0iTTAsMCw5LjQ0NCw5LjQ0NCwwLDE4Ljg4OCIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMjEuMDEgMi4xMjEpIHJvdGF0ZSg5MCkiIGZpbGw9Im5vbmUiIHN0cm9rZT0iIzIzMjMyMyIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBzdHJva2Utd2lkdGg9IjMiLz4KPC9zdmc+Cg==');
}

.accordionButton:hover {
  background-color: #8eb8a3;
  color: var(--color__text-main-contrast);
}

[data-theme='light'] .accordionButton:hover {
  background-color: var(--color_main_contrast);
}

.article.active .accordionButton::after {
  transform: translateY(-50%) rotate(180deg);
}

.accordionButton:hover:after {
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMy4xMzEiIGhlaWdodD0iMTMuMDY2IiB2aWV3Qm94PSIwIDAgMjMuMTMxIDEzLjA2NiI+CiAgPHBhdGggaWQ9IlBhdGhfMTEiIGRhdGEtbmFtZT0iUGF0aCAxMSIgZD0iTTAsMCw5LjQ0NCw5LjQ0NCwwLDE4Ljg4OCIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMjEuMDEgMi4xMjEpIHJvdGF0ZSg5MCkiIGZpbGw9Im5vbmUiIHN0cm9rZT0iIzIzMjMyMyIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBzdHJva2Utd2lkdGg9IjMiLz4KPC9zdmc+Cg==');
}

[data-theme='light'] .accordionButton:hover:after {
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMy4xMzEiIGhlaWdodD0iMTMuMDY2IiB2aWV3Qm94PSIwIDAgMjMuMTMxIDEzLjA2NiI+CiAgPHBhdGggaWQ9IlBhdGhfMTEiIGRhdGEtbmFtZT0iUGF0aCAxMSIgZD0iTTAsMCw5LjQ0NCw5LjQ0NCwwLDE4Ljg4OCIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMjEuMDEgMi4xMjEpIHJvdGF0ZSg5MCkiIGZpbGw9Im5vbmUiIHN0cm9rZT0iI2ZmZiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBzdHJva2Utd2lkdGg9IjMiLz4KPC9zdmc+Cg==');
}

.accordionButton span {
  transition: opacity 0.3s ease;
}

.accordionButton span.faded {
  opacity: 0;
}

@media screen and (max-width: 1024px) {
  .article.active .accordionBottom {
    max-height: 10.5rem;
    padding-bottom: 3rem;
  }
  .article:nth-of-type(2).active .accordionBottom {
    max-height: 12.5rem;
  }

  .article:nth-of-type(3).active .accordionBottom {
    max-height: 14.5rem;
  }
}

@media screen and (max-width: 680px) {
  .article.active .accordionBottom {
    max-height: 9rem;
    padding-bottom: 2.5rem;
  }
  .article:nth-of-type(2).active .accordionBottom {
    max-height: 10.5rem;
  }

  .article:nth-of-type(3).active .accordionBottom {
    max-height: 13.5rem;
  }

  .article p {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .accordionTop {
    padding: 1.5rem 0;
  }

  .accordionButton {
    width: 161px;
    height: 43px;
    padding: 0 0 0 19px;
    justify-content: start;
    border-width: 2px;
  }

  .accordionButton span {
    font-size: 1rem;
  }

  .accordionButton::after {
    width: 14px;
    height: 0.5rem;
    right: 1rem;
  }
}
