.closeFullscreenButton {
  position: fixed;
  top: 141px;
  right: 38px;
  z-index: 1001;
  height: 67px;
  width: 67px;
  background-color: #fff;
  border-radius: 50%;
  transition: var(--animation-smooth), background-color 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: none;
  border: none;
}

.closeFullscreenButton .bar {
  position: absolute;
  width: 22px;
  height: 1.5px;
  background-color: var(--burger__bar-color);
  transition: var(--animation-smooth), background-color 0.2s ease-in-out;
}

.closeFullscreenButton .bar:nth-child(1) {
  transform: translateY(0em) rotate(45deg);
}

.closeFullscreenButton .bar:nth-child(2) {
  transform: translateY(0em) rotate(-45deg);
}

@media screen and (max-width: 991px) {
  .closeFullscreenButton {
    width: 55px;
    height: 55px;
    top: 105px;
    right: 1.5rem;
  }
}

@media screen and (max-width: 680px) {
  .closeFullscreenButton {
    width: 3rem;
    height: 3rem;
    top: 33px;
    right: 17px;
  }
}
