.columnContainer {
    /* margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, minMax(0, 1fr));
    grid-auto-rows: auto;
    gap: 23px; */
  }
  
  @media screen and (max-width: 991px) {
    /* .columnContainer {
      grid-template-columns: repeat(2, minMax(0, 1fr));
      gap: 8px;
    } */
  }