.footer {
  padding-top: 105px;
  position: relative;
}

.footerTop {
  display: flex;
  gap: 70px;
  padding: 0 110px 105px;
}

.footerMenu {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.footerBottom {
  padding: 30px 110px;
  background-color: var(--color___background-body-contrast);
  background-image: var(--background-noise);
  display: inline-flex;
  width: 100%;
}

.footerBottom a {
  display: inline-flex;
  position: relative;
  width: 172px;
  height: 57.25px;
}

.footerMenu li a,
.footer h3 {
  text-transform: uppercase;
  font-size: 27px;
  font-weight: 700;
  line-height: normal;
}

.contact *:not(h3),
.socials a {
  font-size: 18px;
}

.footer * {
  color: var(--color__text-main);
}

.footer h3 {
  margin-bottom: 26px;
}

.footerTop a {
  display: block;
}

.footer .contact > div > a:first-of-type {
  margin-bottom: 48px;
}

.footerTop a:hover {
  opacity: 0.3;
}

@media screen and (max-width: 991px) {
  .footer {
    padding-top: 85px;
  }
  .footerTop {
    padding: 0 60px 85px;
  }
  .footerBottom {
    padding: 30px 60px;
  }
}

@media screen and (max-width: 680px) {
  .footer {
    padding-top: 34px;
  }
  .footerTop {
    flex-direction: column;
    padding: 28px 17px 43px;
    gap: 42.5px;
  }

  .footerMenu {
    order: 2;
    padding: 42.5px 0;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    display: block;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
  }

  .footerMenu > li:not(:first-child) {
    margin-top: 1rem;
  }

  .footerMenu li a {
    font-size: 15px;
  }

  .contact {
    order: 1;
  }

  .contact > div {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
  }

  .contact > h3 {
    width: 100%;
  }

  .contact a,
  .contact p {
    font-size: 1rem;
  }

  .socials {
    order: 3;
  }

  .socials a {
    font-size: 1rem;
  }

  .footer h3 {
    font-size: 29px;
    margin-bottom: 29px;
  }

  .footerBottom {
    padding: 40px 17px 33px;
  }

  .footerBottom a {
    width: 135px;
    height: 45px;
  }
}
