.descriptionContainer {
  color: #232323;
  position: relative;
}

.descriptionContainer h2 {
  font-size: 2.865vw;
  line-height: 3.96vw;
}

.descriptionContainer p {
  font-size: 1.41vw;
  margin-top: 41px;
}

.innerWrapper {
  height: 100%;
  background-color: #8eb8a3;
  border-radius: 30px;
  padding: 46px 33px 31px;
  transition: all 0.5s ease;
  width: 100%;
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.innerWrapper.active {
  width: calc(100vw - 76px);
}

.descriptionText {
  opacity: 0;
}

.innerWrapper.active .descriptionText,
.innerWrapper.active .descriptionExceprt {
  opacity: 1;
  animation: fade 0.7s ease-in;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.closeDescription {
  background-color: #b5dfca;
  border-radius: 20px;
  min-width: 78px;
  max-width: 318.5px;
  width: 78px;
  height: 78px;
  position: absolute;
  bottom: 41px;
  right: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 200;
  cursor: pointer;
  transition: all 0.8s ease;
  padding: 17px 30px;
}

.innerWrapper.active .closeDescription {
  max-width: 78px;
  width: 78px;
  transition-delay: 0.2s;
}

.closeDescription:hover {
  width: 100%;
  border-radius: 39px;
  background: #D9FFEC;
}

.closeDescription > span {
  font-size: 2rem;
  opacity: 0;
  visibility: hidden;
  width: 0;
  white-space: nowrap;
  transition: all 0.5s ease;
}

.closeDescription:hover > span {
  opacity: 1;
  visibility: visible;
  width: auto;
  transition: all 0.5s ease;
  transition-delay: 0.4s;
}

.closeDescription svg {
  transform: rotate(0deg);
  transition: all 0.4s ease;
  width: 18px;
}

.innerWrapper.active .closeDescription svg {
  transform: rotate(180deg);
}

@media screen and (max-width: 1024px) {
  .innerWrapper {
    position: relative;
    height: auto;
    max-height: 420px;
    border-radius: 15px;
    padding-bottom: 70px;
    transition: max-height 0.5s ease-out;
  }
  .innerWrapper.active {
    width: 100%;
    max-height: 2000px;
    transition: max-height 0.5s ease-in;
  }

  .descriptionContainer h2 {
    font-size: 2.5rem;
    line-height: 3rem;
  }

  .descriptionContainer p {
    font-size: 1.38rem;
    line-height: 1.68rem;
    margin-top: 1.3rem;
  }

  .descriptionText {
    opacity: 0;
    transition: opacity 0.4s ease-in;
  }

  .innerWrapper.active .descriptionText,
  .innerWrapper.active .descriptionExceprt {
    opacity: 1;
    animation: none
  }

  .closeDescription {
    min-width: 60px;
    width: 60px;
    height: 60px;
    max-width: 60px;
    border-radius: 15px;
    padding: 0;
    justify-content: center;
    bottom: 13px;
    right: 13px;
  }

  .closeDescription:hover {
    border-radius: 15px;
  }

  .closeDescription > span {
    display: none;
  }

  .closeDescription svg {
    width: 13px;
    transform: rotate(90deg);
  }

  .innerWrapper.active .closeDescription {
    max-width: 60px;
  }

  .innerWrapper.active .closeDescription svg {
    transform: rotate(225deg);
  }
}

@media screen and (max-width: 680px) {
  .innerWrapper {
    padding: 14px 13px 70px 9px;
    max-height: 390px;
  }

  .descriptionContainer h2 {
    font-size: 1.38rem;
    line-height: 1.88rem;
  }

  .descriptionContainer p {
    font-size: 1.1rem;
    line-height: 1.44rem;
    margin-top: 1rem;
  }

  .closeDescription {
    min-width: 43px;
    width: 43px;
    height: 43px;
    max-width: 43px;
  }

  .closeDescription svg {
    width: 0.5rem;
  }

  .innerWrapper.active .closeDescription {
    max-width: 43px;
  }
}
