.card {
  padding: 0;
  margin-top: 1.5rem;
}

.card > .contentWrapper {
  display: flex;
  position: relative;
  height: 100%;
  overflow: hidden;
  border-radius: 30px;
}

.card > img {
  width: 100%;
  transition: opacity 0.5s ease;
  opacity: 1;
}

.small {
  aspect-ratio: 813 / 592;
}

.medium {
  aspect-ratio: 599 / 700;
}

.large {
  aspect-ratio: 599 / 934;
}

.square {
  aspect-ratio: 1 / 1;
}

.projectVideo {
  opacity: 0;
  transition: opacity 0.5s ease;
  object-fit: cover;
  --controls: none;
}

.card > .contentWrapper:hover .projectVideo {
  opacity: 1;
}

.card > .contentWrapper:hover img:not(.noVideo) {
  opacity: 0;
}

@media screen and (max-width: 1024px) {
  .card {
    margin-top: 1rem;
  }
  .card > .contentWrapper:hover img:not(.noVideo) {
    opacity: 1;
  }
}

@media screen and (max-width: 680px) {
  .card {
    margin-top: 0.5rem;
  }

  .card > .contentWrapper {
    border-radius: 15px;
  }
}
