.teamMember {
  aspect-ratio: 1 / 1;
  max-height: calc(100vw / 3 - var(--gap));
  position: relative;
  cursor: pointer;

  --border-radius: 30px;
}

.teamMember .overlay {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 2rem 37px;
  background-color: rgba(42, 49, 51, 0.5);
  transition: all 0.3s ease;
  border-radius: var(--border-radius);
}

.teamMember:hover .overlay {
  opacity: 1;
  visibility: visible;
}

.teamMember .overlay h2 {
  word-spacing: 100vw;
}

.teamMember .overlay p {
  font-size: 1.5rem;
  margin-top: 1rem;
}

.bgImageWrapper {
  position: relative;
  aspect-ratio: 1 / 1;
}

.bgImageWrapper img {
  border-radius: var(--border-radius);
  object-fit: cover;
}

.bioWrapper {
  display: flex;
  height: 100%;
  padding: 38px;
  background-color: #8eb8a3;
  border-radius: var(--border-radius);
  position: absolute;
  top: 0;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  transition: width 0.3s ease-in, opacity 0.3s 0.3s, visibility 0.3s 0.3s;
  width: 100%;
}

.odd .bioWrapper {
  background-color: #f0dd3d;
}

.bioVideoWrapper {
  opacity: 0;
  visibility: hidden;
  position: relative;
}

.bioVideoWrapper video {
  border-radius: var(--border-radius);
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.teamMember.active .bioVideoWrapper {
  opacity: 1;
  visibility: visible;
}

.teamMember.active .bioWrapper {
  width: calc(100vw - 2 * var(--padding));
  transition: width 0.3s ease-in, opacity 0.1s, visibility 0.1s;
}

.bioWrapper.slideLeft {
  right: 0;
}

.bioWrapper.slideCenter {
  left: 50%;
  transform: translateX(-50%);
}

.teamMember.active .bioWrapper {
  opacity: 1;
  visibility: visible;
}

.memberInfoWrapper {
  width: 50%;
  color: #232323;
  opacity: 0;
  visibility: hidden;
  padding-left: 5vw;
}

.teamMember .hoverStateWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.teamMember.active .memberInfoWrapper {
  opacity: 1;
  visibility: visible;
  transition-timing-function: linear;
  transition-duration: 0.1s;
  transition-delay: 0.3s;
  transition-property: opacity, visibility;
}

.memberInfoWrapper h2 {
  font-size: 2.865vw;
  line-height: 3.96vw;
  word-spacing: 100vw;
}

.memberInfoWrapper p {
  font-family: var(--font-mont-book);
  font-size: 1.15vw;
  line-height: 1.6vw;
  margin-top: 1rem;
}

.closeBio {
  background-color: #ffffff;
  border-radius: 20px;
  width: 78px;
  height: 78px;
  position: absolute;
  bottom: 2.5rem;
  right: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 200;
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
  transition: all 0.3s ease-in;
  transform: rotate(0deg);
  border: none;
  outline: none;
}

.videoControlButton {
  border-radius: 20px;
  width: 78px;
  height: 78px;
  padding: 1.5rem 20px;
  position: absolute;
  bottom: 1.5rem;
  right: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 200;
  cursor: pointer;
  background-color: #b5dfca;
}

.replayVideoButton {
  left: 1.5rem;
  right: unset;
}

.teamMember.odd .videoControlButton {
  background-color: #fff5a5;
}

.teamMember .bioWrapper.slideLeft ~ .closeBio {
  transform: rotate(180deg);
}

.teamMember.active .bioWrapper.slideLeft ~ .closeBio {
  transform: rotate(0);
}

.teamMember.active .closeBio {
  background-color: #b5dfca;
}

.teamMember.odd.active .closeBio {
  background-color: #fff5a5;
}

.teamMember:hover .closeBio {
  opacity: 1;
  visibility: visible;
}

.teamMember.active .closeBio {
  opacity: 1;
  visibility: visible;
  transform: rotate(180deg);
}

.teamMember.active .bioWrapper.slideRight ~ .closeBio {
  right: calc(-100vw / 3 * 2 + 69px);
}

.teamMember.active .bioWrapper.slideCenter ~ .closeBio {
  right: calc((-100vw - 62px) / 3 + 39px + 33px);
}

@media screen and (max-width: 991px) {
  .teamMember {
    max-height: 943px;
    height: auto;
    transition: all 0.4s ease-in-out;
    flex-basis: calc(100% / 2 - 1rem / 2 * (2 - 1));
  }

  .teamMember .overlay {
    padding: 1rem 1.5rem;
  }

  .teamMember .overlay p {
    font-size: 1.2rem;
  }

  .bioWrapper {
    flex-direction: column;
    gap: 22px;
    padding: 13px 13px 96px;
    transition: width 0.4s ease-in-out, max-height 0.4s ease-in-out;
    height: auto;
    max-height: calc(100% / 2 - 1rem / 2 * (2 - 1));
  }

  .closeBio {
    right: 13px;
    bottom: 13px;
    width: 60px;
    height: 60px;
  }

  .videoControlButton {
    width: 60px;
    height: 60px;
    bottom: 1rem;
    right: 1rem;
  }

  .replayVideoButton {
    left: 1rem;
    right: unset;
  }

  .teamMember.active .bioWrapper {
    position: absolute;
    width: calc(100vw - 2 * var(--padding));
    height: auto;
    max-height: 1000px;
    transition: width 0.3s ease-in-out, max-height 0.3s ease-in-out;
  }

  .teamMember.active .bioWrapper.slideRight ~ .closeBio {
    right: 13px;
    bottom: 13px;
  }

  .teamMember.active .bioWrapper.slideLeft ~ .closeBio {
    right: unset;
    left: 13px;
    bottom: 13px;
  }

  .teamMember.active .bioWrapper.slideLeft ~ .closeBio svg {
    transform: scale(0.8) rotate(135deg);
  }

  .memberInfoWrapper {
    width: 100%;
    padding-left: 0;
  }

  .memberInfoWrapper h2 {
    font-size: 35px;
    line-height: 3rem;
  }

  .memberInfoWrapper p {
    font-size: 20px;
    line-height: 28px;
    margin-top: 22px;
  }

  .teamMember.active .closeBio {
    transform: rotate(180deg);
  }

  .teamMember .closeBio svg {
    transform: scale(0.8) rotate(0deg);
    transition: all 0.3s ease;
  }

  .teamMember.active .closeBio svg {
    transform: scale(0.8) rotate(45deg);
  }
}

@media screen and (max-width: 680px) {
  .teamMember {
    flex-basis: 100%;
    max-height: calc(100vw - 34px);
    transition: all 0.4s ease-in-out;
  }

  .teamMember.active {
    max-height: 1000px;
  }

  .teamMember .overlay {
    padding: 1rem;
  }

  .teamMember .overlay p {
    font-size: 1rem;
    margin-top: 0.5rem;
  }

  .bioWrapper {
    padding-bottom: 151px;
    height: auto;
    max-height: calc(100vw - 34px);
  }

  .teamMember.active .bioWrapper {
    position: relative;
  }

  .memberInfoWrapper {
    display: none;
  }

  .teamMember.active .memberInfoWrapper {
    display: block;
  }

  .memberInfoWrapper h2 {
    font-size: 22px;
    line-height: 30px;
  }

  .memberInfoWrapper p {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .closeBio {
    width: 43px;
    height: 43px;
    border-radius: 15px;
  }

  .closeBio svg {
    max-width: 14px;
  }

  .videoControlButton {
    width: 43px;
    height: 43px;
    border-radius: 15px;
    padding: 13px 10px;
  }
}
