.teamMembers {
    --gap: 1.5rem;
    --padding: 38px;
    gap: var(--gap);
    margin: 5rem 0;
    display: grid;
    grid-template-columns: repeat(3, minMax(0, 1fr));
  }
  
  @media screen and (max-width: 991px) {
    .teamMembers {
      display: flex;
      flex-wrap: wrap;
      --gap: 1rem;
      --padding: 1.5rem;
      margin: 60px 0 0;
    }
  }
  
  @media screen and (max-width: 680px) {
    .teamMembers {
      --gap: 0.5rem;
      --padding: 1rem;
      margin: 35px 0 0;
    }
  }
  