.videoPlayer {
  aspect-ratio: 1843 / 911 !important;
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
  width: 100%;
}

#videoWrapper {
  width: 100%;
}

.cursor {
  background-color: red;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
}
