.videoPlayer {
  aspect-ratio: 1843 / 911 !important;
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
}

.fullVideoPlayer {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1000;
  top: 0;
  left: 0;
  object-fit: cover;
  cursor: pointer;
}

.closeFullscreenButton {
  position: fixed;
  top: 3rem;
  right: 3rem;
  z-index: 1001;
  height: 3rem;
  width: 3rem;
  background-color: #fff;
  border-radius: 50%;
  transition: var(--animation-smooth), background-color 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: none;
  border: none;
}

.closeFullscreenButton .bar {
  position: absolute;
  width: 22px;
  height: 1.5px;
  background-color: var(--burger__bar-color);
  transition: var(--animation-smooth), background-color 0.2s ease-in-out;
}

.closeFullscreenButton .bar:nth-child(1) {
  transform: translateY(0em) rotate(45deg);
}

.closeFullscreenButton .bar:nth-child(2) {
  transform: translateY(0em) rotate(-45deg);
}

#videoWrapper {
  width: 100%;
}

.cursor {
  background-color: red;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
}
